.DND {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
}

.NoAttacksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px 20px;
}