.Attack {
    display: flex;
    /* flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px; */
}

.Attack input {
    width: 40px;
}

.Container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.RadioContainer {
    display: flex;
    flex-direction: column;
}

.TitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ButtonContainer button {
    height: 50px;
    width: 100px;
}

.ResultText {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.ResultText>span {
    font-size: 1.5rem;
    font-weight: bold;
}

.DetailsText {
    margin-top: 5px;
    font-style: italic;
    color: gray;
    font-size: 0.8rem;
    text-align: center;
}

.FeatsContainer,
.FeaturesContainer {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.FeaturesContainer {
    margin-top: 20px;
}

.FeatureDetail {
    /* margin-left: 10px; */
    color: #666;
    font-size: 0.9em;
    font-style: italic;
}

.InputContainer {
    display: flex;
    margin-bottom: 5px;
}

.InputContainer select {
    margin-left: 10px;
}