.CharacterList {
    display: flex;
    flex-direction: column;
}

.NoCharactersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin: 0px 20px;
}

.TitleContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #868686;
}

.TitleContainer p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

.TitleContainer img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ImportContainer {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}