body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;

  --green: #45a049;
  --red: #e41313;
  --card-shadow: 0 6px 18px rgba(15, 20, 30, 0.3);
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button:focus {
  outline: none;
}

body a {
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-tap-highlight-color: transparent;
}

img:focus,
img:active {
  outline: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}