.Accordion {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.Container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.CollapsedContent {
    max-height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.ExpandedContent {
    max-height: 1000px;
    opacity: 1;
    transition: all 0.3s ease;
}

.RadioContainer {
    display: flex;
    flex-direction: column;
}

.TitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Accordion input {
    width: 40px;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.ButtonContainer button {
    height: 50px;
    width: 100px;
}

.ResultText {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.ResultText>span {
    font-size: 1.5rem;
    font-weight: bold;
}

.DetailsText {
    margin-top: 5px;
    font-style: italic;
    color: gray;
    font-size: 0.8rem;
    text-align: center;
}

.IconButton {
    height: 100%;
    width: 30px;
    margin-left: 10px;
}